<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-left">
                <a ng-href="#!/profile"><span class="glyphicon glyphicon-chevron-left am-gly"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">ExperienceIt-ShareIt</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <h2 class="am-gly centered-wrapper">Stories</h2>
        <div class="col-xs-12">
            <div ng-repeat="story in model.stories" class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{story.title}}</h4>
                </div>
                <div class="panel-body">
                    <div>
                        <b>EVENT</b>: {{story.event}}<br>
                        Description:
                        <p>{{story.description}}</p><br>

                        <b>Writer</b>: {{story.writer}}
                    </div>
                    <div ng-if="model.uid === story.writer"
                         class="centered-wrapper">
                        <button class="btn btn-danger btn-default rsvp"
                                ng-click="model.removeStory(story)">
                            Remove Story
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-href="#!/profile">
                    <span class="glyphicon glyphicon-user am-gly"></span>
                </a>
            </div>
            <div class="navbar-text">
                <amit class="am-gly">Developed by Amit Mangotra © 2017</amit>
            </div>
        </div>
    </nav>
</div>