<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <a class="navbar-text pull-left"
                   ng-href="#!/profile"><span class="glyphicon glyphicon-chevron-left am-gly"></span></a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">ExperienceIt-ShareIt</a>
            </div>
        </div>
    </nav>
    <div ng-hide="model.user" class="container-fluid">
        <h3 class="centered-wrapper am-gly">List of people</h3>
        <div class="col-xs-12">
            <ul class="list-group">
                <div ng-repeat="user in model.users">
                    <div ng-if="model.uid != user._id">
                        <li class="list-group-item">
                            <a ng-click="model.showDetails(user._id)">{{user.firstName}} {{user.lastName}}</a>
                            <a ng-hide="model.followingAlready(user)"
                               ng-click="model.follow(user)"
                               class="right">Follow<span class="glyphicon glyphicon-ok"></span></a>
                            <a ng-show="model.followingAlready(user)"
                               ng-click="model.unfollow(user)"
                               class="right">Unfollow<span class="glyphicon glyphicon-remove"></span></a>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
    <div ng-show="model.user" class="container-fluid">
        <h3 class="centered-wrapper am-gly">User Details</h3>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Name-{{model.user.firstName}} {{model.user.lastName}}<br>Email-{{model.user.email}}<br>Contact-{{model.user.phone}}
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-href="#!/profile">
                    <span class="glyphicon glyphicon-user am-gly"></span>
                </a>
            </div>
            <div class="navbar-text">
                <amit class="am-gly">Developed by Amit Mangotra © 2017</amit>
            </div>
        </div>
    </nav>
</div>