<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-text pull-left">
                    <a ng-href="#!/search"
                       class="am-gly">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <a class="navbar-brand">ExperienceIt-ShareIt</a>
            </div>
            <div class="navbar-text hidden-xs pull-right">
                <a class="am-gly" ng-href="#!/">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <h2 class="am-gly centered-wrapper">Event Details</h2>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{model.event.name}}</h4>

                </div>
                <div class="panel-body">
                    <div>
                        {{model.event.venue.name}}<br>{{model.event.address_1}}{{model.event.venue.city}},<x>{{model.event.venue.country}}</x>
                    </div>
                    <div>
                        <p>{{model.event.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-href="#!/profile">
                    <span class="glyphicon glyphicon-user am-gly"></span>
                </a>
            </div>
            <div class="navbar-text">
                <amit class="am-gly">Developed by Amit Mangotra © 2017</amit>
            </div>
        </div>
    </nav>
</div>