<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a ng-href="#!/profile"
               class="am-gly">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">

            <a class="navbar-brand">ExperienceIt-ShareIt</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav nav-pills navbar-right">
                <li>
                    <div ng-if="model.user.roles === 'Event Organizer'"
                         class="navbar-text">
                        <a class="am-gly" ng-href="#!/event/new">
                            Create Event
                        </a>
                    </div>
                </li>
                <li>
                    <div ng-if="model.user.roles === 'End User'"
                         class="navbar-text">
                        <a class="am-gly" ng-href="#!/story/new">
                            Share Story
                        </a>
                    </div>
                </li>
                <li><div class="navbar-text"><a class="am-gly" ng-href="#!/">Logout</a></div></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="centered-wrapper innerSearch">
        <div>
            <div class="input-group">
                <input ng-model="term" type="text" class="form-control" placeholder="Search term for events">
                <span class="input-group-btn">
                        <button ng-click="model.search(term)"
                                class="btn btn-default"
                                type="button">
                            <span class="fa fa-search"></span>
                        </button>
                </span>
            </div>
        </div>
    </div>
    <div ng-show="model.searchresults">
        <div class="centered-wrapper">
            <h2 class="am-gly am-event-title-xs">Events for you</h2>
        </div>
        <div class="results row">
            <div ng-repeat="result in model.searchresults" class="am-events-display">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>{{result.name}}</h4>
                        </div>
                        <div class="panel-body">
                            <div>
                                <p>{{result.venue.name}}<br>{{result.venue.address_1}}<br>{{result.venue.city}}, <x>{{result.venue.country}}</x>
                                </p>
                            </div>
                            <a class="btn btn-primary btn-default btn-block rsvp"
                               ng-href="#!/search/{{result.group.urlname}}/events/{{result.id}}"
                               role="button">Click for details</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a ng-href="#!/profile">
                <span class="glyphicon glyphicon-user am-gly"></span>
            </a>
        </div>
        <div class="navbar-text">
            <amit class="am-gly">Developed by Amit Mangotra © 2017</amit>
        </div>
    </div>
</nav>