<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-text pull-right"><a class="am-gly" ng-href="#!/login">Login</a></div>
            <div class="navbar-text pull-right hidden-xs"><a class="am-gly" ng-href="#!/register">Sign Up</a></div>
            <div class="navbar-header">
                <a class="navbar-brand">ExperienceIt-ShareIt</a>
            </div>
        </div>
    </nav>
    <div class="visible-xs searchBox-xs">
        <input class="form-control home-search"
               name="text"
               ng-model="search.queryTerm"
               placeholder="Enter term"/>
        <input class="form-control home-search"
               name="text"
               ng-model="search.zipcode"
               placeholder="Enter ZipCode"/>
        <a class="btn btn-primary btn-block btn-default"
           ng-click="model.searchEvent(search.queryTerm, search.zipcode)"
           role="button">Search</a>
    </div>
    <div class="visible-xs">
        <div ng-show="model.results" class="centered-wrapper">
            <h2 class="am-gly am-event-title-xs">Events for you</h2>
        </div>
        <div class="row">
            <div ng-repeat="result in model.results" class="am-events-display col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{result.name}}</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <p>{{result.venue.name}}<br>{{result.venue.address_1}}<br>{{result.venue.city}}, <x>{{result.venue.country}}</x>
                            </p>
                        </div>
                        <a class="btn btn-primary btn-default btn-block rsvp"
                           ng-href="#!/{{result.group.urlname}}/events/{{result.id}}"
                           role="button">Click for details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="hidden-xs homepage-image">
        <img src="https://www.thecookingshopandmore.com/assets/7098a96/images/classes2.jpg"
             height="500"
             width="100%">
        <img src="https://i.pinimg.com/originals/57/5d/96/575d96aacf0dccf48e337f0e5909c87e.jpg"
             height="500"
             width="100%">
        <img src="https://www.visitdubai.com/-/media/dff/2017/events-all/food-trucks/updated/foodtrucks-1920x1080.jpg"
             height="500"
             width="100%">
    </section>
    <div class="hidden-xs centered-wrapper">
        <div class="searchBox">
            <input class="form-control home-search"
                   name="text"
                   ng-model="model.queryTerm"
                   placeholder="Search a term for desired events"/>
            <input class="form-control home-search"
                   name="text"
                   ng-model="model.zipcode"
                   placeholder="Search a zip code for desired location events"/>
            <a class="btn btn-default"
               ng-click="model.searchEvent(model.queryTerm, model.zipcode)"
               role="button">Search</a>
        </div>
    </div>
    <div class="hidden-xs">
        <div ng-show="model.results" class="centered-wrapper">
            <h2 class="am-gly am-event-title">Events for you</h2>
        </div>
        <div class="row">
            <div ng-repeat="result in model.results" class="am-events-display col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{result.name}}</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <p>{{result.venue.name}}<br>{{result.venue.address_1}}<br>{{result.venue.city}}, <x>{{result.venue.country}}</x>
                            </p>
                        </div>
                        <a class="btn btn-primary btn-default btn-block rsvp"
                           ng-href="#!/{{result.group.urlname}}/events/{{result.id}}"
                           role="button">Click for details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="centered-wrapper about-us">
        <h2 class="am-gly am-event-title">About Us</h2>
        <div class="centered-content">
            <div class="panel-padding">
                <p class="am-gly">
                    This web app let's you RSVP events and share your experience story about it.
                    Event organizers can create or delete events. Users can follow the Event Organizers. Let's not be bored at home anymore.
                </p>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-text pull-right">
                <a ng-href="#!/">
                    <span class="glyphicon glyphicon-home am-gly"></span>
                </a>
            </div>
            <div class="navbar-text">
                <amit class="am-gly">Developed by Amit Mangotra © 2017</amit>
            </div>
        </div>
    </nav>
</div>